.inputGroup {
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 32px;
  }

  input {
    width: 100%;
    max-width: 593.543px;
    height: 42.002px;
    padding: 10px 0;
    color: inherit;
    font-family: "Inconsolata", sans-serif;
    font-size: clamp(
      15px,
      calc(15px + (20 - 15) * ((100vw - 320px) / (1024 - 320))),
      20px
    );
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid #378ef0;
    transition: border-color 0.3s ease;
    outline: none;

    &::placeholder {
      color: #6b7280;
      font-size: 14px;
    }

    &:focus {
      border-bottom-color: #0066ff;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: inherit;
      -webkit-box-shadow: 0 0 0px 1000px transparentrent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .error {
    display: block;
    color: #ef4444;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    margin-top: 4px;
  }

  &.nameRowInput {
    margin-bottom: 0;

    input {
      display: flex;
      width: 100%;
      max-width: 293.035px;
      height: 42.002px;
      padding: 10.277px 0 8.725px 0;
      align-items: center;
      background: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 2px solid #378ef0;
      transition: border-color 0.3s ease;
      outline: none;
      color: inherit;
      font-family: "Inconsolata", sans-serif;
      font-size: clamp(
        15px,
        calc(15px + (20 - 15) * ((100vw - 320px) / (1024 - 320))),
        20px
      );
      font-style: normal;
      font-weight: 400;
      line-height: 15.6px;

      &::placeholder {
        color: #6b7280;
        font-size: 14px;
      }

      &:focus {
        border-bottom-color: #0066ff;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  @media (max-width: 450px) {
    input {
      height: 23px;
      padding: 0;
    }

    &.nameRowInput input {
      height: 23px;
      padding: 0;
    }
  }
}
